<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Another Tech Blog</title>
    </head>

    <body>
    <header>
        <h1><a href="/">Another Tech Blog</a></h1>
        <nav>
            <a href="/" class="nav-item">home</a>
            {{#if loggedIn}}
            <a href="/dashboard" class="nav-item">dashboard</a>
            <button id="logout" class="nav-item logout">logout</button>
            {{else}}
            <a href="/login" class="nav-item">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <script src="/javascript/logout.js"></script>

    </body>

</html>