<section class="dashboard">
    
    <button type="submit" class="btn create-post-btn">+ New Post</button>

    {{#if posts.length}}
    <div class="your-posts">
        <h2>Your Posts</h2>
        <p>Click a post to edit:</p>
        <ol>
            {{#each posts as |post|}}
            <li class="your-post">
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{title}}</a>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}

</section>