<section>
    <div class="signup">
    <form class="signup-form">
        <h2>Sign Up</h2>
        <div>
            <label for="username-signup">create a username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="btn">signup</button>
            <a href="/login" class="log-in-link">login</a>
        </div>
        </form>
    </div>
</section>