* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: honeydew;
  }

  h1 {
      font-size: 40px;
  }

  a {
      text-decoration: none;
      color: white;
  }

  header {
    background-color: rgb(17, 32, 29);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
  }